body{
    font-family:"DejaVu Sans Mono";
    font-size:1em;
    line-height:1.5;
    margin: 0;
    padding: 0;

}

p{
    font-family: "DejaVu Sans Light";
}

a{
    /* text-decoration: none;*/
    color: white;
}

img{
    width: 100%;
    height: auto;
}


.main{
    margin-left:10%;
    margin-right: 10%;
    text-align: center;

}

article{
    text-align: left;
    display: inline-block;
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid white;
    text-align: center;
}

td{
    background-color: lightgrey;
}

h1{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

#titre-principal{
    margin: 0px;
    text-align: center;
}



footer{
    vertical-align: bottom;
    margin : auto;
    text-align: center;
    border-top: solid;
}

#logo-footer{
    text-align: center;
    margin:0%;
}

#logo-footer h3{
    margin: 0;
}

#logo-footer img{
    width: 10%;
}

nav img{
    width: 10%;
}

nav a{
    color: white;
    text-decoration: none;
    weight: 25%;
    font-family: "Arial";
    /*text-shadow: 2px 2px 4px #000000;*/
    margin: auto;
    padding: 1%;
    vertical-align: middle;
}

nav span{
    width: 50%;
    box-sizing: content-box;
}

nav{
    /*border-top: solid;*/
    background-color: #205080;
    border-bottom: solid 1px;
    vertical-align: top;
    text-align: center;
}

nav span{
    padding: 0%;
}

nav ul{
    margin: 0;
    padding-left: 0;
}

nav li{
    display: inline-block;
    color: white;
    /*margin-right: 1.75em;*/
    margin: 1%;
    height: 110%;
    width: 50%;
    vertical-align: middle;
}

nav a:active {
    color: black;
}

@media screen and (min-width: 571px){
    nav a:hover {
        background-color: #3572af;
        border-radius: 2px;
    }

    nav li{
        display: inline-block;
    }
}

@media screen and (max-width:572px) {
    nav a {
        display: block;
        margin-bottom: 5px;
        padding: 0px;
    }

    nav li {
        display: block;
        margin: 0;
        padding: 1%;
    }

    nav li:hover {
        background-color: #3572af;
        border-radius: 2px;
    }

    article{
        display: block;
    }

    td{
        display: block;
    }
}
